# Shlink Configuration
DEFAULT_DOMAIN=s.example.com
IS_HTTPS_ENABLED=false
REDIRECT_EXTRA_PATH_MODE=ignore
GEOLITE_LICENSE_KEY=
DB_DRIVER=sqlite

# Port Mappings
SHLINK_PORT=9080
WEB_CLIENT_PORT=9081
